.payment {
  .left {
    .tab-left {
      margin: 5px 25px;
    }

    .rooms {
      .room {
        background: #f3f3f3;
        width: 160px;
        height: 160px;
        float: left;
        margin: 10px;
      }

      .room:hover {
        background: #b9b9b9;
        cursor: pointer;
      }
    }
  }

  .right {
    .title-bill {
      color: #3f51b5;
      font-size: 20px;
      margin: 25px;
      display: flex;
      justify-content: center;
    }

    .room-bill {
      display: flex;
      align-items: baseline;
      .room-name {
        margin-left: 8px;
        color: #3f51b5;
        font-size: 20px;
      }
    }
  }
}
